@font-face {
    font-family: 'Lombok';
    src: local('Lombok'),
        url('Lombok.woff2') format('woff2'),
        url('Lombok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

