
h1{
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 0%;
    width: 100%
    }

.vertical-center{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}